doctype html 
html 
    head 
        title Todo-app
    body 
        .header 
            .header__logo 
                .logo-container 
                    h1 ToDoApp 
            .header__nav 
                .add
                    img(src="../src/images/button.svg") 
        .content
        .footer 
            .logo 
                h1 ToDoApp 
            p all rights reserved