doctype html 
html 
    head 
        title Todo-app
    body 
        .header 
            .header__logo 
                .logo-container 
                    h1 ToDoApp 
            .header__nav 
                ul 
                    li 
                        a(href="#") home 
                    li  
                        a(href="#") about us 
                    li 
                        a(href="#") contact
        .content