doctype html 
html 
    head 
        title Todo-app
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body 
        .header 
            .header__logo 
                .logo-container 
                    h1 ToDoApp 
            .header__options 
                label(for='mode') Show as:  
                select(name='mode' id='mode' class='mode')
                    option(value="table") table
                    option(value="card") card
            .header__nav 
                .add
                    .wave
                    .image
        .content
            .content__side 
                .arrow >> 
            .content__tasks
        .footer 
            .logo 
                h1 ToDoApp
            p all rights reserved