doctype html 
html 
    head 
        title Todo-app
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body 
        .header 
            .header__logo 
                .logo-container 
                    h1 ToDoApp 
            .header__options
                .first-half 
                    .mode
                        label(for='mode') Show as:  
                        select(name='mode' id='mode' class='mode')
                            option(value="card") card
                            option(value="table") table
                    .category
                        label(for='category') Category
                        select(class='header-menu-item' name="category" id='category')
                            option(value="-" disabled selected) ---- 
                            option(value="work") Work
                            option(value="home") Home
                            option(value="school") School
                            option(value="shopping") Shopping   
                    .priority 
                        label(for="priority") Priority 
                        select(class='header-menu-item' name="priority" id='priority')
                            option(value="-" disabled selected) ---- 
                            option(value="urgent") Urgent
                            option(value="important") Important
                            option(value="not important") Not Important
                .second-half 
                    .date
                        label(for="date") Date
                        select(class='header-menu-item' name="date" id='date')
                            option(value="-" disabled selected) ---- 
                            option(value="ascendant") Ascendant
                            option(value="descendant") Descendant
                    .done
                        label(for="done") Done: 
                        select(class='header-menu-item' name="done" id='done')
                            option(value="-" disabled selected) ---- 
                            option(value="done") Done
                            option(value="pending") Pending    
            .header__nav    
                .add
                    .wave
                    .image
        .content
            .content__side
                .menu-container
                    ul(class='menu')
                        li(class='menu-item') 
                            a(href="#" class='submenu-btn')  filter by category
                                span(class='submenu-arrow')
                            ul(class='submenu')
                                li(class='submenu-item') work
                                li(class='submenu-item') home
                                li(class='submenu-item') school
                                li(class='submenu-item') shopping
                        li(class='menu-item') 
                            a(href="#" class='submenu-btn') filter by priority
                                span(class='submenu-arrow')
                            ul(class="submenu")
                                li(class='submenu-item') urgent
                                li(class='submenu-item') important
                                li(class='submenu-item') not important
                        li(class='menu-item') 
                            a(href="#" class='submenu-btn')  filter by done/pending
                                span(class='submenu-arrow')
                            ul(class='submenu')
                                li(class='submenu-item') done
                                li(class='submenu-item') pending
                        li(class='menu-item') 
                            a(href="#" class='submenu-btn')  order by date
                                span(class='submenu-arrow')
                            ul(class="submenu")
                                li(class='submenu-item') ascendant
                                li(class='submenu-item') descendant
                    button(class='reset-filter') reset filter
                .arrow >> 
            .content__tasks
        .footer 
            .logo 
                h1 ToDoApp
            p all rights reserved